.container {
  border: 2px solid black;
  background-color: grey;
  width: 50%;
  margin: auto;

}

#my-form {
  text-align: center;
}

div {
  margin-top: 10px;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: yellow;

}

.item {
  margin: auto;
  width: 50%;
  border: 2px solid black;
}